## Reading Data From Different Sources

In [2]:
import pandas as pd
from io import StringIO
Data = '{"employee_name": "James", "email": "james@example.com", "department": "Engineering"}'
df = pd.read_json(StringIO(Data), lines=True)
print(df)

  employee_name              email   department
0         James  james@example.com  Engineering

In [3]:
df.to_json()

'{"employee_name":{"0":"James"},"email":{"0":"james@example.com"},"department":{"0":"Engineering"}}'

In [4]:
df.to_json(orient='index')

'{"0":{"employee_name":"James","email":"james@example.com","department":"Engineering"}}'

In [5]:
df.to_json(orient='records')

'[{"employee_name":"James","email":"james@example.com","department":"Engineering"}]'

In [6]:
## https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header=None)

In [7]:
df.to_csv('wine.csv')

In [8]:
!pip install lxml html5lib beautifulsoup4

Requirement already satisfied: lxml in d:\learning\code\venv\lib\site-packages (5.4.0)
Requirement already satisfied: html5lib in d:\learning\code\venv\lib\site-packages (1.1)
Requirement already satisfied: beautifulsoup4 in c:\users\aarna\appdata\roaming\python\python312\site-packages (4.12.3)
Requirement already satisfied: six>=1.9 in c:\users\aarna\appdata\roaming\python\python312\site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in d:\learning\code\venv\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\aarna\appdata\roaming\python\python312\site-packages (from beautifulsoup4) (2.6)

WARNING: Ignoring invalid distribution ~orch (C:\Users\aarna\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~orch (C:\Users\aarna\AppData\Roaming\Python\Python312\site-packages)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
# "https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/"df = pd.read_html("https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/"))
df = pd.read_html("https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/")

In [10]:
df[0]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
1,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,"First Bank & Trust Co., Duncan, OK","October 18, 2024",10547
2,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
3,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
4,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
5,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
6,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
7,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
8,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
9,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537

In [11]:
url="https://en.wikipedia.org/wiki/Mobile_country_code"
pd.read_html(url, match="Country", header=0)

[     Mobile country code                                    Country ISO 3166  \
 0                    289                                 A Abkhazia    GE-AB
 1                    412                                Afghanistan       AF
 2                    276                                    Albania       AL
 3                    603                                    Algeria       DZ
 4                    544  American Samoa (United States of America)       AS
 ..                   ...                                        ...      ...
 247                  452                                    Vietnam       VN
 248                  543                        W Wallis and Futuna       WF
 249                  421                                    Y Yemen       YE
 250                  645                                   Z Zambia       ZM
 251                  648                                   Zimbabwe       ZW

                                   Mobile network codes National MNC authority  \
 0             List of mobile network codes in Abkhazia                    NaN
 1          List of mobile network codes in Afghanistan                    NaN
 2              List of mobile network codes in Albania                    NaN
 3              List of mobile network codes in Algeria                    NaN
 4       List of mobile network codes in American Samoa                    NaN
 ..                                                 ...                    ...
 247        List of mobile network codes in the Vietnam                    NaN
 248  List of mobile network codes in Wallis and Futuna                    NaN
 249          List of mobile network codes in the Yemen                    NaN
 250             List of mobile network codes in Zambia                    NaN
 251           List of mobile network codes in Zimbabwe                    NaN

                       Remarks
 0    MCC is not listed by ITU
 1                         NaN
 2                         NaN
 3                         NaN
 4                         NaN
 ..                        ...
 247                       NaN
 248                       NaN
 249                       NaN
 250                       NaN
 251                       NaN

 [252 rows x 6 columns]]