## SQL and SQLite

SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [22]:
import sqlite3

In [23]:
## Connect to a SQLite Database
connection = sqlite3.connect('example.db')
connection

In [24]:
cursor = connection.cursor()

In [25]:
## Create a Table
cursor.execute('''
Create Table If Not Exists employees(
               id Integer Primary Key,
               name Text Not Null,
               age Integer Not Null,
               department Text Not Null
               )
''')

connection.commit()

In [26]:
cursor.execute('''
Select * From employees
''')

In [27]:
## Insert the data in sqlite3
cursor.execute('''
Insert Into employees (name, age, department)
Values ('John Doe', 30, 'HR')
''')

cursor.execute('''
Insert Into employees (name, age, department)
Values ('Jane Smith', 25, 'Finance')
''')

cursor.execute('''
Insert Into employees (name, age, department)
Values ('Jane Smith', 25, 'Finance')
''')

connection.commit()

In [28]:
## query the data from sqlite3
cursor.execute('''
Select * From employees
''')
rows = cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(2, 'Jane Smith', 25, 'Finance')
(3, 'Jane Smith', 25, 'Finance')
(5, 'Jane Smith', 25, 'Finance')
(6, 'Jane Smith', 25, 'Finance')
(8, 'Jane Smith', 25, 'Finance')
(9, 'Jane Smith', 25, 'Finance')
(10, 'John Doe', 30, 'HR')
(11, 'Jane Smith', 25, 'Finance')
(12, 'Jane Smith', 25, 'Finance')

In [29]:
## update the data in the table
cursor.execute('''
Update employees
Set age = 31
Where name = 'John Doe'
''')

In [30]:
## Delete the data in a table

cursor.execute('''
Delete From employees
Where name = 'John Doe'
''')
connection.commit()

In [31]:
## working with a sales data
connection = sqlite3.connect('sales.db')
cursor = connection.cursor()

## Create a Sales Table
cursor.execute('''
Create Table If Not Exists sales(
               id Integer Primary Key,
               product_name Text Not Null,
               quantity Integer Not Null,
               price Real Not Null
               )
''')

connection.commit()
## Insert data into the sales table
cursor.executemany('''
Insert Into sales (product_name, quantity, price)
Values (?, ?, ?)
''', [
    ('Laptop', 10, 999.99),
    ('Smartphone', 25, 499.99),
    ('Tablet', 15, 299.99)
])
connection.commit()

In [32]:
# query the sales data
cursor.execute('''
Select * From sales
''')
rows = cursor.fetchall()

## Print the queried data
for row in rows:
    print(row)

(1, 'Laptop', 10, 999.99)
(2, 'Smartphone', 25, 499.99)
(3, 'Tablet', 15, 299.99)

In [ ]:
## close the connection
cursor.close()
connection.close()